body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .sec1, .footer {
    color: white;
    background-color: #1F2937;
}

.sec1 {
    flex: 1;
    display: flex;
    /*padding: 24px 100px; */
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 32px;
}

.header-text{
    display: flex;
    flex-direction: column;
}

button{
    align-self: flex-start;
}

.sec2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.block{
    width: 165px;
}
.sec3{
    flex: 1;
}

.sec3-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sec4{
    flex: 1;
}

.sec4-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

