body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.header, .sec1, .footer {
    color: #F9FAF8;
    background-color: #1F2937;
}

.sec1 {
    flex: 1;
    display: flex;
    gap: 32px;
    padding: 0px 200px 125px;
    /*padding: 24px 100px; */
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px 100px;
}
.logo{
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 32px;
    font-size: 18px;
    margin: 0px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
}
.header-text h1{
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
}
.header-text p{
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

button{
    margin: 12px 0px;
    border-radius: 8px;
    padding: 8px 40px;
    align-self: flex-start;
    color: white;
    font-weight: bold;
    background: royalblue;
    border: 1px solid royalblue;
}
.img-block{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}
.sec2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.block{
    width: 165px;
}
.sec3{
    flex: 1;
}

.sec3-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sec4{
    flex: 1;
}

.sec4-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

