body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.header, .sec1, .footer {
    color: #F9FAF8;
    background-color: #1F2937;
}

.sec1 {
    flex: 1;
    display: flex;
    gap: 32px;
    padding: 0px 200px 125px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px 100px;
}
.logo{
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 32px;
    font-size: 18px;
    margin: 0px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
}
.header-text h1{
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
}
.header-text p{
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-text button{
    margin: 12px 0px;
    border-radius: 8px;
    padding: 8px 40px;
    align-self: flex-start;
    color: white;
    font-weight: bold;
    background: #3882F6;
    border: 1px solid #3882F6;
}
.img-block{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}

.sec2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 100px;
}
.sec2 h3{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.block{
    border: solid #3882F6;;
    border-width: 4px;
    border-radius: 20px;
    height: 150px;
}

.subtext{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.info{
    width: 165px;
    text-align: center;
    color: #4d5765;
}
.sec3{
    flex: 1;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec3-content{
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 850px;
}
.quote-name{
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    padding: 0px 50px 0px 0px;
    
}
.sec4{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.sec4-content, .sec4-button{
    background-color: #3882F6;
    color: #E5E7EB;
}

.sec4-content{
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.sec4-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sec4-title{
    font-size: 28px;
    font-weight: bold;
}

.sec-subtext{
    font-size: 24px;
}

.sec4-button{
    font-weight: bold;
    padding: 5px 25px;
    font-size: 18px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

